<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MA-R Passwords</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Alert.css') }}">

    <style>
      .scroll-container {
          height: 450px; /* Altura deseada del contenedor */
          overflow-y: scroll; /* Activa el scroll vertical */
      }
      .custom-label {
        padding-left: 10px;
        max-width: 850px;
        line-height: 1;
      }
      hr {
        border: none;
        height: 2px;
        background-color: white;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--<script src="static/js/Copy.js"></script>-->
  </head>
  <body style="background: linear-gradient(to left, rgb(43, 88, 118), rgb(78, 67, 118));">
    <!-- Alerts -->
    {% include "flash.html" %}

    <!-- ToolBar -->
		<nav class="navbar">
			<div class="container-fluid">
		    	<a class="navbar-brand" style="color: rgb(255, 255, 255);"><font size="5"><b>MA-R Passwords</b></font></a>
          <!--Log out-->
          <form class="d-flex" method="post" action="close-session">
            {{ data["form"]["close_session"].csrf_token }}
            <button class="btn btn-outline-light" type="submit" name='{{ data["form"]["close_session"].close_session.name }}'>Log out</button>
          </form>
      </div>
    </nav>
    <!--Line-->
    <div class="px-3">
      <hr>
    </div>
    <!--Layout-->
    <div class="container ms-4 my-2">
          <div class="btn-group">
              <a href="/account" class="btn btn-light">Cuenta</a>
              <a href="/" class="btn btn-light active" aria-current="page">Contraseñas</a>
          </div>
          <div class="container my-1">
            <h3 style="color:rgb(255, 255, 255)"><b>Contraseñas</b></h3>
            <div class="container scroll-container bg-light" style="border-radius: 10px;">
              <!--SAVE PASSWORD-->
              <form method="post" action="add-password">
                  {{ data['form']['add_password'].csrf_token }}
                  <div class="row">
                      <div class="col-md-4 my-2">
                          <input name="{{ data['form']['add_password'].key.name }}" class="form-control" placeholder="{{ data['form']['add_password'].key.name }}">
                      </div>
                      <div class="col-md-4 my-2">
                          <input name="{{ data['form']['add_password'].value.name }}" class="form-control" type="password" placeholder="{{ data['form']['add_password'].value.name }}">
                      </div>
                      <div class="col-md-4 my-2">
                          <button class="btn btn-outline-success" type="submit">Agregar</button>
                      </div>
                  </div>
              </form>
              <!--DELETE/COPY PASSWORD-->
              {% for key in data["passwords"].keys() %}
                <form method="post" action="/del-password">
                  {{ data['form']['passwords'].csrf_token }}
                  <ul>
                      <div class="row">
                          <div class="col-md-2 my-2">
                            <input name="{{ data['form']['passwords'].key.name }}" class="form-control" placeholder="{{ data['form']['passwords'].key.name }}" value="{{ key }}" disabled>
                            <!--<input id="{{ key }}" name="{{ key }}" value="{{ key }}" disabled=True class="form-control">-->
                          </div>
                          <div class="col-md-4 text-end my-2">
                            <input class="form-control" placeholder="Value" type="password" value="{{ data['passwords'][key] }}" disabled>
                          </div>
                          <div class="col-md-2 my-2">
                            <button class="btn btn-outline-primary" type="button" onclick="getPassword('{{ data['passwords'][key] }}', event)">Copiar</button>
                          </div>
                          <div class="col-md-2 my-2" id="btn-{{ key }}">
                            <button class="btn btn-danger" type="submit" name="delete" value="{{ key }}">Eliminar</button>
                          </div>
                      </div>
                  </ul>
                </form>
              {% endfor %}
            </div>
          </div>
      </div>
    <script src="static/js/remove-alert.js"></script>
    <script src="static/js/Copy.js"></script>
  </body>
</html>
